@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="cards">
        <div class="title-page-content" style="text-align:center">
            <h2 class="page-title">
                CADASTRO DE FUNCIONÁRIOS
            </h2>
        </div>
    </div>
</section>